@page "/sede-form"
@page "/sede-form/{Id:int}"
@using LavaCar.Shared
@using Newtonsoft.Json;
@using Helpers
@inject HttpClient http
@inject IJSRuntime js
@inject DialogService dialogService
@inject ServicioSingleton singleton
@inject HttpClient Http
@inject NavigationManager navigationManager


<div class="row">
    <div class="col-md-12">
        <RadzenTemplateForm TItem="Sede" Data=@model Submit="@Save">
            <RadzenFieldset Text="Sede">
                <div class="row">
                    <div class="col-md-2">
                        <RadzenLabel Text="Nombre" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox MaxLength="256" style="width: 100%" @bind-Value="@(model.Nombre)" Name="Nombre">
                        </RadzenTextBox><br />
                        <RadzenRequiredValidator Component="Nombre" Text="Campo Requerido" Style="position: absolute" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <RadzenLabel Text="Dirección" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox MaxLength="256" style="width: 100%" @bind-Value="@(model.Direccion)" Name="Direccion">
                        </RadzenTextBox><br />
                        <RadzenRequiredValidator Component="Direccion" Text="Campo Requerido" Style="position: absolute" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <RadzenLabel Text="Teléfono" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox MaxLength="256" style="width: 100%" @bind-Value="@(model.Telefono)" Name="Telefono">
                        </RadzenTextBox><br />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <RadzenLabel Text="Email" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%" Name="Email" @bind-Value=@model.Email />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <RadzenLabel Text="Celular" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox MaxLength="256" style="width: 100%" @bind-Value="@(model.Celular)" Name="Celular">
                        </RadzenTextBox>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <RadzenLabel Text="Estado" />
                    </div>
                    <div class="col-md-8">
                        <RadzenDropDown AllowClear="true" AllowFiltering="true" Name="Estado" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="model.Estado" Multiple="false" Placeholder="Select..." Data="@lstEstados" TextProperty="Descripcion" ValueProperty="Codigo"
                                        Style="margin-bottom: 20px; width:50%;" /><br />
                        <RadzenRequiredValidator Component="Estado" Text="Campo Requerido" Style="position: absolute" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" ButtonStyle="ButtonStyle.Success">
                        </RadzenButton>
                    </div>
                    <div class="col-md-4">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="cancel" Text="Cancelar" Click="@Cancelar">
                        </RadzenButton>
                    </div>
                </div>
            </RadzenFieldset>
        </RadzenTemplateForm>
    </div>
</div>
<br />

<br />
@code {

    [Parameter] public int Id { get; set; }


    string titulo = "";
    public Sede model = new Sede();
    Response response = new Response();
    public List<EstadoAuxiliar> lstEstados = new List<EstadoAuxiliar>();
    public Generico generico = new Generico();
    string mensaje = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }


    protected async Task Save()
    {
        model.EmpresaId = singleton.EmpresaId;
        model.Nombre = model.Nombre.ToUpper();
        model.Direccion = model.Direccion.ToUpper();

        try
        {

            if (model.Telefono!=null && model.Telefono.Length != 7)
            {
                await js.InvokeAsync<string>("MensajeAlerta", "El télefono debe tener 7 digitos.");
                return;
            }

            if (model.Celular != null && model.Celular.Length > 0)
            {
                if (model.Celular.Length != 10)
                {
                    await js.InvokeAsync<string>("MensajeAlerta", "El celular debe tener 11 digitos.");
                    return;
                }
            }

            if (model.Email != null)



            {
                if (!model.Email.Contains("@"))
                {
                    await js.InvokeAsync<string>("MensajeAlerta", "Email invalido.");
                    return;
                }

            }

            if (Id != 0)
            {
                mensaje = $"El usuario {singleton.Nombre} módifico la información de la sede.";
                var result = await Http.PutAsJsonAsync<Sede>($"Sedes", model);
                response = result.Content.ReadFromJsonAsync<Response>().Result;
            }
            else
            {
                mensaje = $"El usuario {singleton.Nombre} ingreso la información de la sede.";
                var result = await Http.PostAsJsonAsync<Sede>($"Sedes", model);
                response = result.Content.ReadFromJsonAsync<Response>().Result;
            }

            if (response.IsSuccessful)
            {
                await GuardarLog("A", mensaje, null);
                response = await Http.GetFromJsonAsync<Response>($"Sedes/GetSedesxEmpresa/{singleton.EmpresaId}");
                dialogService.Close(response);
            }
            else
            {
                await js.InvokeAsync<string>("MensajeAlerta", response.Message);
            }
        }
        catch(Exception ex)
        {
            await GuardarLog("E", null, ex);
            await js.InvokeAsync<string>("MensajeAlerta", ex.Message);
        }
    }


    protected async Task Cancelar()
    {
        dialogService.Close();
    }



    protected async Task LoadData()
    {
        try
        {

            lstEstados = generico.getEstados();
            if (Id > 0)
            {
                titulo = "EDITAR SEDE";
                response = await Http.GetFromJsonAsync<Response>($"sedes/{Id}");
                if (response.IsSuccessful)
                {
                    model = JsonConvert.DeserializeObject<Sede>(response.Data.ToString());
                }
            }
            else
            {
                titulo = "NUEVA SEDE";
            }
        }
        catch (Exception ex)
        {
            await GuardarLog("E", null, ex);
            await js.InvokeAsync<string>("MensajeAlerta", ex.Message);
        }
    }


    protected async Task GuardarLog(string tipo, string mensaje, Exception ex)
    {
        LogEvento log = new LogEvento();
        log.UsuarioId = singleton.UsuarioId;
        log.Fecha = DateTime.Now;
        log.Tipo = tipo;
        log.Campo1 = $"Id:{ model.Id};EmpresaId:{ model.EmpresaId};Nombre:{ model.Nombre}; Dirección: { model.Direccion}; Teléfono: { model.Telefono}; Celular: { model.Celular};Estado: { model.Estado}";

        if (tipo == "E")
        {
            log.Mensaje = ex.Message;
            log.Seguimiento = ex.StackTrace;
            log.Fuente = ex.Source;
        }
        else
        {
            log.Mensaje = mensaje;
        }

        await Http.PostAsJsonAsync<LogEvento>($"LogEventos", log);
    }

}
